.inner-feedback--close {
    display: none;
}
.inner-feedback--open {
    z-index: 100;
    font-weight:700;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 50px 20px 0px 0px  #0E185033;
    height: 100%;
}
.inner-feedback__box{
    overflow-y: scroll;
    padding: 3%;
}
.inner-feedback__box::-webkit-scrollbar {
    width: 0;
}

.inner-feedback__overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    right:320px;
    background: #ffffff94;
}
.form-inner{
    font-family: 'TT Lakes';
    padding: 12px;
    border-radius: 8px;
    border: 1px #EAEAEA solid;
    margin: 8px;
}
.container__feedback {
    top:0%;
    right: 0;
    position: fixed;
    width: 320px;
}

.container__feedback form{
    display: flex;
    flex-direction: column;
}

.inner-feedback__burger--close {
    margin-top: 22px;
    margin-left: 8px;
}
.inner-feedback__header{
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
}
.inner-feedback__header h1{
    margin: 8px;
}
.inner-feedback__header::before {
    content: "";
    border-top: solid 20px #41F6D7;
    border-right: solid 4px #41F6D7;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 20px;
}
.inner-feedback__message {
    
    resize: none;
}
.inner-feedback__description {
    margin: 8px;
}
.inner-feedback__description a{
    text-decoration: none;
    color: #FF3E79;
}
.inner-feedback__button {
    position: relative;
    width: 116px;
    left: 300px;
}
.container__feedback .main-lock{
    position: fixed;
    z-index: 99;
    height: 100%;
    width: 100%;
    background: #ffffff8e;
}
@media (min-width: 768px) {
    .inner-feedback__overlay{
        right:440px;
    }
    .inner-feedback__burger--close {
        position: absolute;
        z-index: 120;
        top: 0px;
        right: 450px;
    }
    .container__feedback {
        width: 440px;
    }
    .inner-feedback__button {
        left: 280px;
    }
}