.inner-phone--close {
    display: none;
}
.inner-phone--open {
    z-index: 100;
    font-weight:700;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    box-shadow: 50px 20px 0px 0px  #0E185033;
    min-height: 100%;
}
.inner-phone--lock{
    position: fixed;
    width: 100%;
    height: 100%;
    right:320px;
    background: #ffffff94;
}
.container__inner-phone {
    top:0%;
    right: 0;
    position: fixed;
    width: 320px;
}
.inner-phone__burger--close {
    margin-top: 22px;
    margin-left: 8px;
}

.inner-phone__header {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
}
.inner-phone__header h1{
    margin: 8px;
}
.inner-phone__header::before {
    content: "";
    border-top: solid 20px #41F6D7;
    border-right: solid 4px #41F6D7;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    margin-right: 20px;
}
.inner-phone__description {
    margin: 8px;
}
.inner-phone__button {
    position: relative;
    width: 95px;
    left: 200px;
}


@media (min-width: 768px) {
    .inner-phone__burger--close {
        position: absolute;
        z-index: 120;
        top: 0px;
        right: 340px;
    }
}